* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
body {
    background-color: lightgrey;
    margin: 0;
}
header {
    background-color: white;
    padding: 10px;
}
header h1 {
    margin: auto;
}
div.post {
    background-color: white;
    margin-top: 30px;
}

div.post h2, div.post p{
    padding: 10px;
    margin: 0;
}
div.container {
    width: 600px;
    margin: auto;
}
div.post img {
    width: 100%;
}
div.post-header div:first-child {
    display: inline-block;
    width: 90%;
}
div.post-header div:last-child {
    display: inline-block;
    width: 10%;
    text-align: center;
}
span {
    color: #BDBDBD;
}